<table class="import-table bordered striped responsive-table">
  <thead>
    <tr>
      <th>File</th>
      <th>Import Date</th>
      <th class="import-table-download">Download</th>
    </tr>
  </thead>
  <tbody>
    <% imports.each do |import| %>
      <tr>
        <td><%= import.filename %></td>
        <td><%= import.created_at.strftime('%m/%d/%Y') %></td>
        <td class="import-table-download">
          <% if import.message.present? %>
            <%= import_table_circle_link text: '<b>!</b>', url: '', color: 'red lighten-2' %>
          <% else %>
            <%= import_table_circle_link icon: 'play_for_work', url: '', color: 'brown lighten-2' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
