<div class="import-page">
  <%= form_for :import, url: upload_path, html: { multipart: true } do %>

    <div class="row import-file-upload-row">
      <div class="col s11 offset-s10">
        <%= file_input_tag id: 'import_file' %>
      </div>
    </div>

    <div class="row">
      <div class="col s12">

        <div class="card">
          <div class="card-content">
            <span class="card-title">Import History</span>

            <%= render 'import_table', imports: @imports %>
          </div>
        </div>

      </div>

    </div>
  <% end %>
</div>


<script language="javascript">
  app.Page.Import();
</script>
