.data-dropdown {
  cursor: pointer;
}

.data-dropdown-selected {
  border-bottom: solid 1px #aaa;
}

.data-dropdown-items {
  position: fixed;
  background-color: white;
  border: solid 1px #aaa;
  z-index: 5000;
}

.data-dropdown-item {
  padding: 0 10px 0 10px;
  font-size: .8em;
}

.data-dropdown-item:hover {
  background-color: #ddd;
}
