@import "materialize/components/color";
$primary-color: color("teal", "darken-3") !default;
@import 'materialize';
@import 'import';

body {
  background-color: #e5e5e5;
}

.container {
  width: 1000px;
}

nav {
  height: 200px;

  .brand-logo {
    padding-top: 65px;
  }

  li.selected {
    border-bottom: solid 5px;
  }

  .nav-items {
    padding-top: 131px;
  }
}


h2 {
  @extend .green-text, .text-darken-4;
}

main {
  padding: 40px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
  }
}
