@import "materialize/components/color";
$primary-color: color("teal", "darken-3") !default;
@import 'materialize';
@import 'dashboard';
@import 'import';
@import 'transaction';

body {
  background-color: #e5e5e5;
}

.container {
  width: 1000px;
}

// Don't show the flash message; its text is captured by all_pages.js
// and raised as a materializecss toast object.
//
// Cucumber won't find the flash elements if visibility is hidden or
// the display is none, so just move it far out of the visible screen
.flash {
  position: absolute;
  left:     -10000px;
}

nav {
  height: 200px;

  .brand-logo {
    padding-top: 65px;
  }

  li.selected {
    border-bottom: solid 5px;
  }

  .nav-items {
    padding-top: 131px;
  }
}


h2 {
  @extend .green-text, .text-darken-4;
}

main {
  padding: 40px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
  }
}
