.dashboard-page {
  .amount-sums-by-month {
    overflow: auto;
  }
  .amount-sums-by-month-for-tests {
    display: none;
  }

  .amount-sums-by-month-cell {
    white-space: nowrap;
  }
}

.dashboard-category-filter {
  font-size: .8em;
}

.dashboard-category-filter .data-dropdown-item {
  line-height: 1.4em;
}
