.import-page {
  .file-upload-button {
    position:   absolute;
    margin-top: -20px;
    margin-left: -10px;
  }

  .import-table-download {
    text-align: center;
  }

  .file-input {
    display: none;
  }

  input[type=submit] {
    display: none;
  }
}
