<nav>
  <div class="container">
    <a href="#" class="brand-logo">Transaction Analysis</a>

    <ul class="hide-on-med-and-down nav-items">
      <%= render 'layouts/nav_links', context: 'desktop' %>
    </ul>
    <ul id="slide-out" class="side-nav">
      <%= render 'layouts/nav_links', context: 'mobile' %>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
