<%= form_tag search_path, method: :get do |form| %>
  <%= search_field_tag :search, params[:search], placeholder: 'search transactions' %>
  <button id="search_transactions_button" type="submit">Search</button>
<% end %>

<nav>
  <a href="#" class="brand-logo">Orthnac</a>
  <div class="container">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
<nav class="sub-nav center">
  <ul class="hide-on-med-and-down nav-items">
    <%= render 'layouts/nav_links', context: 'desktop' %>
  </ul>
  <ul id="slide-out" class="side-nav">
    <%= render 'layouts/nav_links', context: 'mobile' %>
  </ul>
</nav>
