<% %w{ dashboard imports transactions settings}.each do |link| %>
  <li class="<%= controller_name == link ? 'selected' : '' %>">
    <%= link_to link.capitalize, "/#{link}", id: "#{link}-#{context}" %>
  </li>
<% end %>
