<!DOCTYPE html>
<html>
<head>
  <title>Orthnac</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <div class="container">
      <a href="#" class="brand-logo">Transaction Analysis</a>

      <ul class="hide-on-med-and-down nav-items">
        <li class="selected"><a href="#!">Dashboard</a></li>
        <li><a href="#!">Import</a></li>
        <li><a href="#!">Detail</a></li>
      </ul>
      <ul id="slide-out" class="side-nav">
        <li class="active"><a href="#!">Dashboard</a></li>
        <li><a href="#!">Import</a></li>
        <li><a href="#!">Detail</a></li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <!-- Page Layout here -->
  <main>
    <div class="container">
      <%= yield %>
    </div>
  </main>

</body>

<script language="javascript">
  $(".button-collapse").sideNav();
</script>
</html>
